.header {
  width: 100%;
  height: 140px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.header_top {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.header_logo {
  width: 144px;
  height: 72px;
  margin-left: 24px;
  background-color: #9a9a9a;
}

.header_searchInputWrapper {
  position: absolute;
  content: none;
  max-width: 240px;
  width: 30%;
  height: 30px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.header_searchInput {
  width: 100%;
  height: 100%;
  padding: 4px 20px;
  border: 2px solid #000;
  border-radius: 99px;
  box-sizing: border-box;
}

.header_searchIcon {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  pointer-events: none;
}

.header_userMenu {
  margin-right: 20px;
}

.header_loginButton {
  display: none;
}

.header_accountMenu {
  display: flex;
  gap: 12px;
  height: 36px;
}

.header_mailButton {
  width: 52px;
  height: 36px;
  background-color: #FFF;
  font-size: 12px;
  border: none;
}

.header_mailIcon {
  width: 100%;
  height: 100%;
}

.header_accountButton {
  display: flex;
  align-items: center;
  gap: 8px;
  border: none;
  background-color: transparent;
}

.header_accountImage {
  width: 32px;
  height: 32px;
  border-radius: 99px;
  border: 2px solid #000;
  background-color: #c5c5c5;
}

.header_accountName {
  padding: 0 0 2px;
  border-bottom: 1px solid #000;
}

.header_nav {
  width: 100%;
  height: 40px;
}

.header_nav_ul {
  display: flex;
  padding: 0 16px;
  height: 100%;
}

.header_nav_item {
  width: calc(30% - 32px);
  display: flex;
  align-items: center;
  justify-content: center;
}